/***** Top View *****/

.top-article {
  margin: 2em 0;
  position: relative;
}

.top-article--box {
  margin-top: 1em;
}

.top-article--box-item {
  list-style: none;
  display: flex;
  justify-content: center;
}

.top-article--box-item-media {
  position: absolute;
  /* background: black;
  opacity: 0.5; */
  background-color: rgba(68, 68, 68, 0.4);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/***** Top Details *****/

.MuiMobileStepper-dots {
  display: none;
}
