/***** Top View *****/

.top-article {
  max-width: 1600px;
  margin: 2em 0;
  position: relative;
}

.top-article__box {
  height: 502px;
  margin-top: 1em;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-items: center;
  justify-content: center;
  gap: 30px;
}

.top-article__box--noheight {
  height: inherit
}

.top-article__box__item__media-effect {
  position: absolute;
  background-color: rgba(68, 68, 68, 0.4);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


