* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  max-width: 75%;
  margin: 0 auto;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(8, 133, 182); */
  padding: 10px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: skyblue; */
  padding: 10px;
  border-radius: 10px;
}

.infoHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoHeaderAndSynopsis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 10px;
}
.favIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.favIcon p {
  font-size: 0.75rem;
}
.star {
  color: #fff;
  font-size: 100px;
  width: 100px;
}
.star.fav {
  color: red;
}

.mainImg {
  max-width: 200px;
  max-height: 300px;
}

.rating {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  text-align: center;
  margin: 5px auto;
}

embed {
  margin: 10px auto;
}

.synopsisWrapper {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  text-align: justify;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 12px -5px #000;
  margin: 20px auto;
}
.synopsis {
  overflow-y: auto;
  max-height: 200px;
  padding-right: 10px;
}
/* .synopsis.active {
  max-height: auto;
} */
.synopsisWrapper button {
  background-color: rgb(89, 192, 232);
  color: #fff;
  box-shadow: 0 0 12px -5px #000;
  margin: 10px;
}

.miscellaneousInfos {
  width: 100%;
  min-width: 300px;
  max-height: 400px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 5px 10px;
  margin: 20px auto;
  overflow-y: scroll;
}
.miscellaneousInfos > div {
  display: flex;
  margin: 2px auto;
}
.miscellaneousInfos .label {
  width: 50%;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 5px 10px;
}
.miscellaneousInfos .data {
  width: 50%;
  background-color: rgba(128, 128, 128, 0.75);
  padding: 5px;
}

.backgroundStory {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px -10px #000;
  margin: 20px auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  /* background-color: rgb(102, 181, 212); */
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}
form > div {
  width: 100%;
}

.news,
.comments {
  width: 100%;
  height: 200px;
  border: solid;
  margin: 20px auto;
}

/* .hey {
  background-color: rgba(0, 255, 255, 0.25);
  border: solid;
  margin: 50px auto;
}
.news {
  background-color: cyan;
  margin: 5px auto;
} */
