@media (min-width: 450px) {
  .miscellaneousInfos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }
  .miscellaneousInfos > div {
    width: 100%;
  }
  .miscellaneousInfos > div > div {
    display: flex;
    align-items: center;
  }
}
