@media (min-width: 450px) {
  .details {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }
  .details > div {
    width: 100%;
  }
  .details > div > div {
    display: flex;
    align-items: center;
  }
}

/* Media queries 600px */
@media (min-width: 600px) {
  .info {
    align-items: flex-start;
  }

  .info > .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'presentation synopsisWrapper'
      'details details';
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }
  .presentation {
    grid-area: presentation;
  }
  .synopsisWrapper {
    grid-area: synopsisWrapper;
    margin: 0;
  }
  .synopsis {
    max-height: 400px;
  }
  /* .synopsis.active {
    max-height: 100%;
  } */
  .details {
    grid-area: details;
  }

  /* .synopsisWrapper button {
    display: none;
  } */
}

/* Media queries 800px */
@media (min-width: 800px) {
  .details {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .watch {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* Media queries 1024px */
@media (min-width: 1024px) {
  .info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }
  .info .header {
    display: flex;
    flex-direction: row;
  }
  .synopsisWrapper {
    order: -1;
    max-height: 500px;
  }
  .synopsis {
    max-height: 500px;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: auto;
    max-height: 500px;
    margin: 0;
  }
}
