.streaming h2 {
  text-align: center;
  margin: 10px auto 25px;
}
.streaming .datagrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  gap: 50px;
}
.streaming .datagrid > div {
  background-color: grey;
  padding: 10px;
  border-radius: 10px;
}
.streaming .datagrid a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  color: #fff;
  text-decoration: none;
}
.streaming .datagrid .imgWrapper {
  max-width: 225px;
}
.streaming .datagrid img {
  max-width: 100%;
}
.streaming .datagrid > div:hover img {
  transform: scale(1.25);
}
