/* .css-wjh20t-MuiPagination-ul {
  justify-content: center;
} */
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: salmon;
  padding: 10px;
}
.settingsBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.inputSearch {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchData {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 20px;
  max-width: 1920px;
  padding: 10px;
}
.searchData .item {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: bisque;
  font-size: 1rem;
  text-align: center;
  padding: 10px 10px 5px;
  border: solid 0px blue;
  border-radius: 10px;
  transition: 0.25s;
}
.searchData .item:hover {
  background-color: rgb(255, 204, 142);
}
.searchData .item:hover a {
  justify-content: space-evenly;
}
.searchData .item:hover img {
  transform: scale(1.1);
}
.searchData .item:hover .imgWrapper {
  box-shadow: 0 5px 30px -5px;
}
.imgWrapper {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 15px -5px;
  transition: 0.5s;
}
.searchData img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  transition: 0.25s;
}
.searchData a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #000;
  text-decoration: none;
}
.paginationBottom {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: salmon;
  margin: 20px auto;
}
